.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.home-container .home-row {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 400px -50px 360px 90px rgba(0, 0, 0, 0.9);
  position: relative;
}
.home-container .home-row .movies-col{
    position: absolute;
    top: 20px;
    right: 30px;
}
.home-container .home-columns .home-columns{
    color: #fff;
}
.home-container .home-columns .home-col .avatar img{
    height: 80px;
}
.home-container .home-columns .home-col h2{
    font-size: 20px;
    margin-top: 10px;
}
.home-container .home-columns.home-col p{
    width: 600px;
    font-size: 14px;
}
.home-container .home-columns{
    width: 96vw;
    margin: 0px auto;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
}
.home-container .home-columns .home-col:nth-child(1){
    position: absolute;
    top: 300px;
    left: 20px;
}
.home-container .home-columns .home-col:nth-child(1) h1{
    font-size: 50px;
}
.home-container .home-columns .home-col:nth-child(1) .date,
.home-container .home-columns .home-col:nth-child(1) .genres{
    font-size: 14px;
    margin-top: 6px;
    color: #555;
}
.home-container .home-columns .home-col:nth-child(1) p{
font-size: 14px;
width: 600px;
margin: 15px 0px;
}
.home-container .home-columns .home-col:nth-child(1) .btn{
   width: 40px;
   height: 40px;
   text-align: center;
   font-size: 15px;
   line-height: 40px;
   background-color:#E50914;
   color: #fff;
   border-radius: 50%;
   cursor: pointer;
}

.home-container .home-columns .home-col .col{
    padding: 10px 0px;
}
.home-container .home-columns .home-col .col h4{
    margin: 10px 0px;
}
.home-container .home-columns .home-col .col .movies-container{
    width:100%;
    display: flex;
    gap: 10px;
    overflow: scroll;
}
.home-container .home-columns .col .movies-container::-webkit-scrollbar{
    display: none;
}
.home-container .home-columns .movies-container .movie-col{
    flex: none;
    width: 210px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}
.home-container .home-columns .movies-container .movie-col.active{
    border: 3px solid #E50914;
}


@media all and (max-width:600px) {
    .home-container .home-columns .home-col:nth-child(1){
        top:280px;
    }
    .home-container .home-columns .home-col:nth-child(1) p{
        width: 400px;
        font-size: 14px;
    }
}


